node_modules/
dist/
.vite/
.env
*.log
venv/
__pycache__/
*.pyc
db.sqlite3
.DS_Store
.vscode/
.idea/
frontend/node_modules/
frontend/dist/
backend/venv/
backend/__pycache__/
backend/db.sqlite3
backend/.env
